body{font-family:sans-serif;background:#f2f7ff}
.hero{background:#004aad;color:white;padding:25px;text-align:center}
.card{background:white;margin:15px;padding:15px;border-radius:12px}
input,textarea{width:95%;padding:8px;margin:5px}
button{background:#004aad;color:white;padding:10px;border:none;border-radius:8px}
.whatsapp{color:white;text-decoration:none;font-weight:bold}
